.page {
  background: rgb(0, 11, 24);
  background: linear-gradient(
    0deg,
    rgba(0, 11, 24, 1) 0%,
    rgba(0, 23, 45, 1) 25%,
    rgba(0, 38, 77, 1) 50%,
    rgba(2, 56, 110, 1) 75%,
    rgba(0, 73, 141, 1) 100%
  );
  min-height: 100vh;
}

.title {
  border-bottom: solid 5px #ffd32a;
  color: floralwhite;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.2em;
  letter-spacing: -2px;
  margin: 0;
  padding-right: 0.5rem;
  text-align: right;
  text-shadow: 0.5px 0.5px 1px rgb(221, 221, 221);
}

.container {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

.subtitle {
  color: #ffd32a;
  font-family: "Courier New", Courier, monospace;
  padding-left: 1rem;
}

li {
  list-style: none;
}

p {
  padding-left: 1rem;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
  .sub-container {
    width: 50%;
  }
}
